body {
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
footer{
	color: purple;
	overflow: hidden;
	background-color:black;
	padding-top:10px;
	padding-bottom:10px;
}
.navbar{
		float: right;
		margin-right: 15px;
		color:White;
}
.Logo{
	width:100px;
	height:100px;
	margin-left:10px;
}
.groovy{
	color:purple;
	font-size:80px;
	background-image:url("../Img/BG.jpg");
	background-position:center;
	height:300px;
	width:100%;
}
.storycovers{
	margin-right:100px;
}
.storytext{
	text-align:center;
	margin-left:30px;
	margin-right:30px;
}
.singlecovers{
	display: inline-block;
	width:300px;
	height:300px;
	float:left;
	text-align: center;
}
#aboutme{
	text-align:left;
	margin-left: 50px;
}
#photo{
	margin-left:100px;
}
#myphoto{
	display: inline-block;
	width:200px;
	height:350px;
	float:left;
	text-align:center;
	border-style:solid;
	border-color:purple;
}
nav{
background-color:black;
padding-top:10px;
padding-bottom:10px;

}


